.carousel {
    height: 65vh;
}

@keyframes createBox {
    from {
      transform: scale(0);
    }
    to {
      transform: scale(1);
    }
}
.carousel-bg {
    /* This section calls the slideInFromLeft animation we defined above */
    animation: createBox .45s;

    max-width: 100vw;
    width: 100%;
    height: 100%;

    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;


}

.reserva-bg {
    background-image: url('../img/bg-blue.jpg');
}

.open-games-bg {
    background-image: url('../img/bg-red.webp');
}

.campionats-bg {
    background-image: url('../img/bg-playing.jpg');
}